# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
vendor/

# Compiled mains
main

# Compiled commands
cmd/i3x3ctl/*
!cmd/i3x3ctl/main.go
cmd/i3x3d/*
!cmd/i3x3d/main.go
